html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-cell {
    box-sizing: border-box;
    background-color: lightblue; /* Adjust the color as needed */
    border: 1px solid black; /* Add border for visibility */
}

.grid-cell:hover {
    background-color: yellow;
}

#grid-container {
    display: grid;
    width: 800px;
    height: 800px;
    border: 2px, black;
    padding-top: 5%;
}

#myButton {
    position: fixed;
    top: 20px;
}